/*color scheme
#F8F8FF
#DDDDDD
white
darkgray
#616161
black
rgba(141, 202, 255, 1)
*/
* {
    margin: 0;
    /*background-color:white;*/
    font-family: "Raleway", sans-serif;
    background-color: white;
}

i {
	border:solid black;
	border-width: 0 3px 3px 0;
	display:inline-block;
	padding:3px;
	margin-bottom:2.5px;
}
.arrow_down{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	background-color:inherit;
}
header {
    padding: 0;
    width: 13vw;
    min-width:100px;
  	max-height:50px;
    float: left;
    background-color:white;
    height: auto;
    /*padding-top:0.85%;*/
    font-family: "Raleway", sans-serif;
}
header a img:hover{
    background-color:#F8F8FF;
}
header a img {
    position: relative;
    top: -10px; 
}

nav {
    background-color: white;
    height: 4vw;
    min-height:3vw;
}
nav p {
    /*display: inline-block;
    padding: 20px;*/
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
nav p a {
    width: auto;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    display: block;
    float: right;
    /*font-size:1.5vw;*/
    font-size:16px;
}
nav p a:hover {
    background-color: #F8F8FF;
}
.dropdown {
    position:relative;
    display:block;
    margin:0;
    float:right;
    border:none;
    outline:none;
}
.dropbtn {
    background-color: white;
    color:black;
    padding: 0;
    border:none;
	/*margin-top:5px;*/
    /*font-size:1.5vw;*/
    font-size:16px;
    text-align:center;
    line-height: 60px;
    width: auto;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
nav a {
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    /*left:25%;*/
    top:60px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 210;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown-content a {
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    background-color:white;
    font-size:14px;
}

.dropdown-content a:hover {background-color:#F8F8FF;}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color:#F8F8FF;}

#navwrap {
    width:580px;
    margin:auto;
    background-color: white;
    float:right;
}
#titlenav {
    background-color: white;
    width: 100%;
    /*height: 60px;*/
    position: fixed;
    left: 0;
    top: 0;
}
#bigimage {
    background-color: white;
    width: 100%;
    /*height: 500px;*/
    clear: both;
}
#bigimage img{
    width:100%;
}
#position {
    margin-top: 65px;
}
img {
    display: block;
}

#textwrapper {
    width: 100%;
    margin: 0;
    background-color: white;
}
.quickaccess p {
    font-size:40px;
    width:100%;
    text-align:center;
    margin-top:65px;
    margin-bottom:100px;
	font-variant:small-caps;
    font-weight:bolder;
    color: black;
}
article {
    width: 24%;
    margin: 4.2%;
    background-color: gray;
    float: left;
    padding:5px;
    border-radius: 23px;
}
article h5 {
    background-color: gray;
    color:white;
    /*font-size:16px;*/
    font-size:1.3vw;
    /*height: 300px;*/
    border-radius: 23px;
    font-weight: normal;
    text-align: center;
}
article a{
    text-decoration: none;
}
article a img {
    width:100%;
    border-radius: 20px;
}/*
article a img:hover{
    opacity:0.9;
}*/
footer {
    clear: both;
    height: auto;
    background-color:black;
    padding: 15px;
    padding-bottom:30px;
}
footer p {
    color:white;
    margin-top:20px;
    font-size:13px;
    background-color: inherit;
}
footer p a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: inherit;
}

.richtlijn-nav{
	background-color:darkgray;
	float:left;
	position:fixed;
	top:9vh;
	width:12vw;
	height:100vh;
	display:block;
	
}
 /*.richtlijn-nav p {
 	color:white;
 	background-color:black;
	/*width:300px;
 	/*overflow: hidden;
 }*/
.richtlijn-nav .richtlijn-nav-elements {
 	display:block;
 	clear:both;
	background-color:darkgray;
 	width:12vw;
 	height:8vw;
}
.richtlijn-nav .richtlijn-nav-elements p {
 	background-color:darkgray;
 	padding:0;
}
.richtlijn-nav .richtlijn-nav-elements a {
 	display:block;
	background-color:darkgray;
 	text-decoration:none;
 	color:black;
	/*padding:87px 116px 88px 116px;*/
 	text-align:center;
 	width: 12vw;
	line-height:8vw;
}
.richtlijn-nav .richtlijn-nav-elements a:hover {
	background-color: #DDDDDD;
}
.richtlijnfooter {
 	clear: both;
    height:auto;
    background-color: black;
    padding: 15px;
    position: relative;
    margin-top: 50px;
	bottom:0;
 	left:12vw;
 	width:85.8vw;
 	padding-bottom:30px;
}
.richtlijnmain{
    width: 800px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
	/*position:relative;
    top:120px;
	left:51.2vw;*/
    z-index:1;
    color: black;
}
.richtlijnmain .mainheader {
    font-size: 40px;
    text-align: center;
    font-variant: small-caps;
    /*position:relative;
    top:100px;*/ 
}
.mainheader{
    font-size: 40px;
    text-align: center;
    font-variant: small-caps;
}
article.richtlijnen{
    align-self: center;
    padding: 0;
    margin: 25px 0px 0px 0px;
}
article.richtlijnen h2{
    text-align: center;
}
article.richtlijnen p{
    background-color: white;
    color:black;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}
article.richtlijnen ol{
    margin-bottom: 30px;
}
.smallbigimage {
    background-color: white;
    width: 100%;
    height: auto;
}
.smallbigimage img {
    width: inherit;
    height: inherit;
}
.alt-footer{
    clear: both;
    height: auto;
    background-color:black;
    padding: 15px;
    padding-bottom:30px;
    position: fixed;
    bottom:0;
    width: 100vw;
}
.maps-main{
    float: right;
    width: 500px;
    height: 500px;
    margin: 60px;
    border: 1px;
    border-style: solid;
    background-color: white;
}
.maps-main .maps{
    width: 500px;
    height: 500px;
}
article.contact{
    width: auto;
    background-color: white;
}
article.contact h1 {
    font-size: 30px;
    font-variant: small-caps;
    color: black;
}
article.contact p {
    background-color: white;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}
.contact-form{
    width: 400px;
    background-color: white;
    color: black;
}
.contact-form label{
    float: left;
}
.contact-form input {
    float: right;
    color: black;
    border-radius: 5px;
    width: fit-content;
}
.contact-form .submit{
    clear: both;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
.contact-form-asks{
    margin: 10px 0px 10px 0px;
}
textarea.contact-form-asks{
    vertical-align: top;
    height: 70px;width: 400px;
    resize: none;
}
main.usability {
    width:  800px;
    margin: auto;
    display: block;
    z-index: 1;
}
article.usability{
    background-color: white;
    padding: 0;
    width: 800px;
}
article.usability h1{
    font-size: 30px;
    margin-bottom: 40px;
    font-variant: small-caps;
    color: black;
}
article.usability h2{
    font-size: 20px;
    color: black;
}
article.usability p{
    background-color: white;
    color:black;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}
table.usability-table{
    border: 0;
    border-style: solid;
    border-color: black;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    color: black;
}
table.usability-table th{
    font-weight: bold;
    background-color: rgba(141, 202, 255, 1);
    margin: 0;
    border: 1px solid black;
    width: 100px;
    line-height: 40px;
}
table.usability-table td{
    background-color: white;
    margin: 0;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
table.usability-table td+td{
    width: auto;
}
img.usability-img{
    float: right;
    width: 330px;
    margin: 130px 4.2vw 0px 0px;
    position: static;
    overflow: hidden;
    z-index: 0;
}
main.richtlijnen {
    width:  820px;
    margin: auto;
    display: block;
    position: relative;
    top: 90px;
    z-index: 1;
}
article.richtlijnen{
    background-color: white;
    padding: 0;
    width: 800px;
    color: black;
}
article.richtlijnen h1{
    color: black;
    font-variant: small-caps;
    font-size: 30px;
    margin: 0px 0px 30px 0px;
}
article.richtlijnen .maininfo{
    color: black;
    background-color: inherit;
    font-size: 22px;
    margin: 0px 0px 30px 0px;
}
article.richtlijnen a{
    color: black;
    text-decoration: none;
}
article.richtlijnen a:hover{
    color: #616161;
}
.richtlijn-ol{
    margin: 0px 0px 30px 0px;
}
.richtlijnfooter-alt {
    clear: both;
    height:auto;
    background-color: black;
    padding: 15px;
    position: absolute;
    margin-top: 50px;
	bottom:0;
 	left:12vw;
 	width:85.8vw;
 	padding-bottom:30px;
}
h4 {
    float: right;
    display: block;
    border-radius: 10px;
    background-color: white;
    line-height: 50px;
    width: 200px;
    text-align: center;
    margin-bottom: 50px;
}
.nested-list-home{
    list-style-type: none;
}
.alt-header1{
    margin-bottom: 30px;
}
.alt-header2{
    margin-top: 30px;
}
dl.richtlijnen{
    margin: 0px 0px 30px 0px;
}
dt.richtlijnen{
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}
img.cola-img{
    float: right;
    width: 410px;
}
img.paypal-img{
    float: right;
    width: 300px;
}
img.error-img{
    width: 200px;
    float: left;
    margin: 20px 0px 0px 0px;
}
.gebruikerstest-footer{
    clear: both;
    height:auto;
    background-color: black;
    padding: 15px;
    position: relative;
    margin-top: 50px;
	bottom:-4px;
 	left:0;
 	width:auto;
    padding-bottom:30px;
}
main.gebruikerstest{
    width:  820px;
    margin: auto;
    display: block;
    position: relative;
    top: 0px;
    z-index: 1;
}